// fonts
$font-primary: 'Bai Jamjuree', sans-serif;

// colors
$btn-green: hsl(171, 66%, 44%);
$btn-purple: hsl(233, 100%, 69%);
$color-secondary: hsl(210, 10%, 33%);
$color-primary: hsl(201, 11%, 66%);
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);

$bp-mobile: 27em;
